<!DOCTYPE html>
<html>
<head>
    <title>Smart Irrigation System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>🌱 Smart Irrigation System</h1>

    <form method="POST">
        <label>Soil Type:</label><br>
        <select name="soil">
            <option value="sandy">Sandy</option>
            <option value="clay">Clay</option>
            <option value="loamy">Loamy</option>
        </select><br><br>

        <label>Crop Type:</label><br>
        <select name="crop">
            <option value="rice">Rice</option>
            <option value="wheat">Wheat</option>
            <option value="cotton">Cotton</option>
            <option value="maize">Maize</option>
        </select><br><br>

        <label>City:</label><br>
        <input type="text" name="city" required autocomplete="off"><br><br>

        <button type="submit">Predict</button>
    </form>

    <div class="result-card">
    {{ result|safe }}
</div>

    <h2>Prediction History</h2>

    {% if history %}
        {% for item in history %}
            <div class="history-card">
    📍 {{ item.city }} |
    🌱 {{ item.soil }} |
    🌾 {{ item.crop }} |
    🌡 {{ item.temperature }}°C |
    💧 {{ item.water }} Litres
</div>
        {% endfor %}
    {% else %}
        <p>No history available.</p>
    {% endif %}

</body>
</html>